body {
	margin: 0;
	padding: 0;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'La Belle Aurore', cursive;
	/*font-family: 'Indie Flower', cursive;*/
	/*font-family: 'Amatic SC', cursive;*/
}

.container {
	margin: 40px;
	font-family: 'La Belle Aurore', cursive;
}

.titleh { /*WHY IS THIS NOT WORKING?*/
   	font-family: 'Amatic SC', cursive;
   		/*font-family: 'Open Sans', sans-serif;*/

   	font-size: 70px;

}

nav {
	display: block;
	z-index: 10;
	position: absolute;
	height: 50px;
	background-color: pink;
	text-align: center;
	/*border-bottom: 3px solid #fafafa*/
	font-size: 20px;
	/*color: #fafafa;*/
	color: #5e5e5e;
	text-shadow: -1px 0 #fafafa,0 1px #fafafa,1px 0 #fafafa,0 -1px #fafafa;

	letter-spacing: 3px;
}
nav ul {
	/*text-align: center;*/
	padding: 10px;
}
nav li {
	display: inline-block;
	padding: 0px 30px;
}

.home-page {
	background-image: url('./img/sweet1.jpeg');
	height: 85vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   	font-family: 'Amatic SC', cursive;
   	font-size: 100px;
   	/*text-align: center;*/
   	color: #fafafa;
   	padding: 5vh;
    text-shadow: 2px 2px 10px #000000;
}

.header-bottom {
	height: 10vh;
}

.spanbutt {
	text-align: center;
}
.down-button {
	display: inline-block;
	margin-top: -50px;
	/*margin-bottom: 100px;*/
	height: 85px;
	width: 85px;
	background-color: pink;
	border: 2px solid #fafafa;
	padding: 20px;
	border-radius: 100%;
	box-shadow: 0px 2px 15px #000000;
	/*font-family: 'La Belle Aurore', cursive;*/
	font-size: 16px;
}

.about-page div {
	text-align: center;
	height: 100px;
	padding: 10px;
}
/*.about-par {
	padding: 100px;
}*/
.about-page p {
	padding: 80px;
	font-size: 16px;
}


.fix2 {
	background-image: url('./img/sweet4.jpeg');
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-page {
	padding-top: 20px;

}
.menu-page ul {
	padding: 30px;
	background-color: blue;
}
.menu-imgs {
	/*padding: 20px;*/
	background-color: black;
}
.menu-img1 {
	background-image: url('./img/sweet7.jpg');
}
.menu-img2 {
	background-image: url('./img/sweet9.jpg');
}
.menu-img3 {
	background-image: url('./img/sweet6.jpg');
}

.fix3 {
	background-image: url('./img/sweet8.jpg');
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.map {
	height: 300px;
	width: 300px;
/*	padding: 10px;
	margin: 10px;*/
	background-image: url('./img/map.jpeg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

footer {
	padding: 5px;
	text-align: center;
}



